# Credenciales de APIs externas (este archivo .env.example es la plantilla; guardar secretos en Azure Key Vault en producción)
NASA_FIRMS_MAP_KEY=98a9749a0a509946910887d3ee754807
OPENMETEO_BASE_URL=https://api.open-meteo.com/v1
USGS_BASE_URL=https://earthquake.usgs.gov/fdsnws/event/1

# Azure OpenAI & Key Vault (Servidor Backend Chatbot)
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=https://cenepred-openai-prod.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_KEY_VAULT_NAME=cenepred-kv-prod
GEMINI_API_KEY=
